body {
	background: orange;
}


h1, h3, .hsp {
text-align: center;
color: purple;
font-size: 30px;
text-decoration: underline;
font-weight: bold;
cursor: pointer;
font-family: sans-serif;
}

 #login input {
top: 50%;
margin-bottom: 15px;
border: 3px solid black;
width: 359px;
height: 30px;
display: flex;
justify-content: center;
align-items: center;
}

#login button {
top: 50%;
margin-bottom: 15px;
border: 3px solid black;
width: 100px;
height: 30px;
display: flex;
justify-content: center;
left: 50%;
right 50%;
}

#login p {
color: purple;
display: flex;
justify-content: center;
align-items: center;
}

#wrapper {
top: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
}

a#login {
float: right;
text-decoration: none;
border: 1px solid black;
outline: none;
color: white;
background: black;
font-family: sans-serif;
width: 60px;
height: 40px;
text-align: center;
margin-right: 25px;
border-radius: 15px;
font-weight: bold;
display: flex;
justify-content: center;
align-items: center;
}

.loader { /* Style the loader div tag */
position: fixed;
z-index: 99;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: white;
display: flex;
justify-content: center;
align-items: center;
}

/* FadeOut Keyframe:
 * at 100%, set opacity to 0; set visibility to hidden
 * end */

@keyframes fadeOut { /* This is an internally used animation to hide loading screen, also can be used for hiding some elements to end in 0 visibility */

100% { /*RUNS AT 100%! MODIFY IF YOU KNOW WHAT YOU ARE DOING! */

opacity: 0;
visibility: hidden;

}}

.de#editor {
color: red;
}


.loader.hidden { /* Do this when it's time to hide the loading screen */

animation: fadeOut 1s;
animation-fill-mode: forwards;

}
